.App {
  text-align: center;
  margin: auto;
  margin-top: 5rem;
  padding: 3rem;
  min-width: 40%;
  max-width: 40%;
  display: flex;
  justify-content: center;
  border: solid rgb(126, 109, 146) 4px;
  border-radius: 0.7rem;
  background-color: rgb(191, 184, 204);
  font-weight: 700;
}
